html, body {
    font-size: 18px;
}

#editor {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    font-family: Consolas, monospace;
    font-size: 1.0em;
    color: #eee;
    background-color: #333;
    resize: none;
    border: 0;
    outline: none;
    z-index: 2;
}

#error-window {
    position: fixed;
    left: 10px;
    bottom: 5px;
    max-width: 90%;
    font-family: Consolas, monospace;
    font-size: 1.0em;
    color: lightcoral;
    background-color: #444;
    border-radius: 3px;
    padding: 5px;
    z-index: 3;
}

#main-canvas {
    position: fixed;
    background-color: #fff;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    #editor {
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        height: 35%;
        width: 100%;
    }

    #error-window {
        top: 5px;
        left: 10px;
        left: auto;
        bottom: auto;
    }
} 
